<ion-view view-title="Dashboard">
  <ion-content class="padding">

    <ul style="width: 300px; float: left">
      <li ng-repeat="user in onlineList">
        <a href="#" ng-click="joinRoom(user.userId)">{{user.userId}}</a>
      </li>
    </ul>

    <div ng-show="atRoom" style="width: 500px; height: 300px; border: 1px solid; float: right">
      <input ng-model="chatText" type="text" style="border: 1px solid"><button ng-click="onSendMessage(chatText)">Enviar</button>
    </div>


  </ion-content>
</ion-view>
